

body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url("../images/backgroundHomePage.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

button {
    width: 100%;
    /*height: 40px;*/
}



/*popUp*/
body {font-family: Arial, Helvetica, sans-serif;}




/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    /*border: 1px solid #888;*/
    width: 30%; /* Could be more or less, depending on screen size */
    /*heihgt:100%;*/
}

/* The Close Button (x) */
.close {
    /*background-color: black;*/
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn {
        width: 100%;
    }
}

.containerSign {
    /*background-color: black;*/
    padding-top: 60px;
    padding-bottom: 20px;
}

.containerSign label {
    margin-left: 10%;
    margin-right: 10%;
    /*margin:10%;*/
    /*width: 80%;*/
}

.containerSign input {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
    width: 80%;
    height: 20%;
}

.containerSign button {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


/*TIMER*/
#timer {
    margin: auto;
}

.speechRecognition > p {
    margin: auto;
}
